body {
  font-family: sans-serif;
  background: #EEE;
}

svg text::selection {
  background: none;
}

.line, path.link {
  fill: none;
  stroke: #666;
  stroke-width: 3px;
}

circle.node {
  fill: #EEE;
  opacity: 0.3;
}

circle.delete {
  fill: red;
}

circle.selected {
  fill: #FFF;
}
